n8n_zaylon_thin_client.json
{
  "name": "Zaylon - Thin Client Multi-Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zaylon-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Message Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 400],
      "webhookId": "zaylon-messages"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "customer_id",
              "name": "customer_id",
              "value": "={{ $json.channel === 'instagram' ? 'instagram:@' + $json.sender_username : 'whatsapp:' + $json.sender_phone }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.message_text || $json.text || $json.message }}",
              "type": "string"
            },
            {
              "id": "channel",
              "name": "channel",
              "value": "={{ $json.channel || 'instagram' }}",
              "type": "string"
            },
            {
              "id": "sender_id_raw",
              "name": "sender_id_raw",
              "value": "={{ $json.sender_id || $json.sender_phone || '' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $json.timestamp || $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-message",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/n8n/prepare-context-enhanced",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $json.customer_id }}\",\n  \"message\": \"{{ $json.message }}\",\n  \"channel\": \"{{ $json.channel }}\"\n}",
        "options": {
          "timeout": 30000,
          "retry": {
            "maxRetries": 2,
            "retryInterval": 1000
          }
        }
      },
      "id": "prepare-context",
      "name": "Prepare Context Enhanced",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "notesInFlow": true,
      "notes": "Gets conversation history, order history, RAG context, cache status, intent - all in ONE call"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip_ai_check",
              "leftValue": "={{ $json.skip_ai }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-cache",
      "name": "Check if Cached",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ai_response",
              "name": "ai_response",
              "value": "={{ $json.cached_response }}",
              "type": "string"
            },
            {
              "id": "action",
              "name": "action",
              "value": "cached",
              "type": "string"
            },
            {
              "id": "intent",
              "name": "intent",
              "value": "={{ $json.intent_analysis?.intent || 'general' }}",
              "type": "string"
            },
            {
              "id": "tokens_used",
              "name": "tokens_used",
              "value": "=0",
              "type": "number"
            },
            {
              "id": "customer_id",
              "name": "customer_id",
              "value": "={{ $('Normalize Message').item.json.customer_id }}",
              "type": "string"
            },
            {
              "id": "channel",
              "name": "channel",
              "value": "={{ $('Normalize Message').item.json.channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "use-cached",
      "name": "Use Cached Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1120, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/api/v2/agent/invoke",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('Normalize Message').item.json.customer_id }}\",\n  \"message\": \"{{ $('Normalize Message').item.json.message }}\",\n  \"channel\": \"{{ $('Normalize Message').item.json.channel }}\",\n  \"context\": {\n    \"conversation_history\": \"{{ $json.conversation_history }}\",\n    \"order_history\": \"{{ $json.customer_order_history }}\",\n    \"relevant_products\": \"{{ $json.relevant_products }}\",\n    \"customer_name\": \"{{ $json.customer_metadata?.name }}\",\n    \"customer_phone\": \"{{ $json.customer_metadata?.phone }}\",\n    \"total_orders\": {{ $json.customer_metadata?.total_orders || 0 }},\n    \"total_spent\": {{ $json.customer_metadata?.total_spent || 0 }},\n    \"preferred_language\": \"{{ $json.customer_metadata?.preferred_language || 'en' }}\",\n    \"intent\": \"{{ $json.intent_analysis?.intent }}\",\n    \"confidence\": {{ $json.intent_analysis?.confidence || 0 }}\n  }\n}",
        "options": {
          "timeout": 60000,
          "retry": {
            "maxRetries": 2,
            "retryInterval": 2000
          }
        }
      },
      "id": "invoke-agent",
      "name": "Invoke Supervisor Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 520],
      "notesInFlow": true,
      "notes": "Calls backend Supervisor Multi-Agent System\nSupervisor routes to Sales or Support agents\nHandles tool calling internally"
    },
    {
      "parameters": {
        "jsCode": "// Parse agent response and prepare for storage\nconst agentResponse = $input.item.json;\nconst contextData = $('Prepare Context Enhanced').item.json;\nconst messageData = $('Normalize Message').item.json;\n\n// Extract response, action, and order data from agent\nconst response = agentResponse.response || agentResponse.message || '';\nconst action = agentResponse.action || 'answer';\nconst orderData = agentResponse.order_data || null;\nconst tokensUsed = agentResponse.tokens_used || agentResponse.usage?.total_tokens || 0;\nconst intent = agentResponse.intent || contextData.intent_analysis?.intent || 'general';\n\nreturn {\n  json: {\n    ai_response: response,\n    action: action,\n    order_data: orderData,\n    intent: intent,\n    tokens_used: tokensUsed,\n    customer_id: messageData.customer_id,\n    channel: messageData.channel,\n    user_message: messageData.message\n  }\n};"
      },
      "id": "parse-agent-response",
      "name": "Parse Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 520]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-paths",
      "name": "Merge Cached & Agent Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/n8n/store-interaction",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $json.customer_id }}\",\n  \"channel\": \"{{ $json.channel }}\",\n  \"user_message\": \"{{ $json.user_message || $('Normalize Message').item.json.message }}\",\n  \"ai_response\": \"{{ $json.ai_response }}\",\n  \"intent\": \"{{ $json.intent }}\",\n  \"action\": \"{{ $json.action }}\",\n  \"order_data\": {{ $json.order_data || 'null' }},\n  \"ai_tokens_used\": {{ $json.tokens_used || 0 }},\n  \"response_time_ms\": {{ Math.round($now.toMillis() - new Date($('Normalize Message').item.json.timestamp).getTime()) }}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "store-interaction",
      "name": "Store Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 400],
      "notesInFlow": true,
      "notes": "Logs analytics, caches response, updates customer profile - all async in backend"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "={{ $('Merge Cached & Agent Paths').item.json.ai_response }}",
              "type": "string"
            },
            {
              "id": "customer_id",
              "name": "customer_id",
              "value": "={{ $('Normalize Message').item.json.customer_id }}",
              "type": "string"
            },
            {
              "id": "channel",
              "name": "channel",
              "value": "={{ $('Normalize Message').item.json.channel }}",
              "type": "string"
            },
            {
              "id": "sender_id_raw",
              "name": "sender_id_raw",
              "value": "={{ $('Normalize Message').item.json.sender_id_raw }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "channel_is_instagram",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-by-channel",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v18.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $env.INSTAGRAM_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.sender_id_raw }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $json.response_text }}\"\n  }\n}",
        "options": {}
      },
      "id": "send-instagram",
      "name": "Send Instagram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.sender_id_raw }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.response_text }}\"\n  }\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Processed by Zaylon Multi-Agent System\" } }}",
        "options": {}
      },
      "id": "webhook-response-instagram",
      "name": "Webhook Response (Instagram)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Processed by Zaylon Multi-Agent System\" } }}",
        "options": {}
      },
      "id": "webhook-response-whatsapp",
      "name": "Webhook Response (WhatsApp)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2660, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error_message",
              "name": "error_message",
              "value": "I apologize, but I'm having trouble processing your request right now. Please try again in a moment. 🙏",
              "type": "string"
            },
            {
              "id": "fallback_used",
              "name": "fallback_used",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "error-fallback",
      "name": "Error Fallback Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1120, 720],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## 🏗️ Zaylon - Thin Client Architecture\n\n**Flow:**\n1. Receive message (Instagram/WhatsApp)\n2. Normalize message data\n3. Call prepare-context-enhanced (1 API call)\n4. Check if cached → Yes? Return immediately\n5. If not cached → Call Supervisor Agent\n6. Supervisor routes to Sales/Support agents\n7. Agent generates response with tools\n8. Store interaction (analytics, caching)\n9. Send reply to customer\n\n**Total API Calls:** 2-3 (vs 5-10 in thick client)\n**Latency:** 1-3 seconds (vs 3-5 seconds)\n**Uses:** Backend Multi-Agent System ✅",
        "height": 400,
        "width": 380,
        "color": 5
      },
      "id": "workflow-info",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 80]
    },
    {
      "parameters": {
        "content": "## ⚡ Performance Optimization\n\n**Cache-First Strategy:**\n- Check cache before calling agent\n- 40-60% of queries hit cache\n- Cached responses return in <500ms\n\n**Retry Logic:**\n- prepare-context: 2 retries, 1s interval\n- agent-invoke: 2 retries, 2s interval\n- Graceful fallback on failure\n\n**Async Analytics:**\n- Backend logs analytics in background\n- No blocking on analytics writes\n- Real-time metrics in dashboard",
        "height": 320,
        "width": 320,
        "color": 6
      },
      "id": "performance-note",
      "name": "Performance",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [680, 80]
    },
    {
      "parameters": {
        "content": "## 🤖 Backend Multi-Agent System\n\n**Supervisor Agent:**\n- Analyzes message intent\n- Routes to Sales or Support\n- Manages conversation flow\n\n**Sales Agent:**\n- Tools: search_products, create_order\n- Handles product inquiries\n- Processes orders\n\n**Support Agent:**\n- Tools: check_order_status, process_return\n- Handles complaints\n- Manages returns/exchanges\n\n**All agent logic in backend** ✅",
        "height": 340,
        "width": 320,
        "color": 4
      },
      "id": "agent-note",
      "name": "Multi-Agent System",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1100, 80]
    }
  ],
  "connections": {
    "Message Received": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Message": {
      "main": [
        [
          {
            "node": "Prepare Context Enhanced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context Enhanced": {
      "main": [
        [
          {
            "node": "Check if Cached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Cached": {
      "main": [
        [
          {
            "node": "Use Cached Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invoke Supervisor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Cached Response": {
      "main": [
        [
          {
            "node": "Merge Cached & Agent Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoke Supervisor Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Response": {
      "main": [
        [
          {
            "node": "Merge Cached & Agent Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Cached & Agent Paths": {
      "main": [
        [
          {
            "node": "Store Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Interaction": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Send Instagram Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instagram Reply": {
      "main": [
        [
          {
            "node": "Webhook Response (Instagram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Webhook Response (WhatsApp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-28T00:00:00.000Z",
      "updatedAt": "2025-11-28T00:00:00.000Z",
      "id": "zaylon",
      "name": "Zaylon"
    },
    {
      "createdAt": "2025-11-28T00:00:00.000Z",
      "updatedAt": "2025-11-28T00:00:00.000Z",
      "id": "thin-client",
      "name": "Thin Client"
    },
    {
      "createdAt": "2025-11-28T00:00:00.000Z",
      "updatedAt": "2025-11-28T00:00:00.000Z",
      "id": "multi-agent",
      "name": "Multi-Agent"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-28T00:00:00.000Z",
  "versionId": "3.0.0"
}
