n8n_deployment_workflow.json
{
  "name": "AI Microservices - Production Deployment Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "start-trigger",
      "name": "Manual Deploy Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "content": "=## 🚀 Deployment Started\n\n**Project:** AI Microservices\n**Branch:** {{ $json.branch || 'claude/optimize-production-deployment-01K3iMGqie3PbeYrrN4tAnt8' }}\n**Timestamp:** {{ $now.toISO() }}\n**Initiated by:** {{ $workflow.name }}",
        "height": 200,
        "width": 400
      },
      "id": "deploy-start-note",
      "name": "Deployment Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [250, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "render_service_name",
              "name": "render_service_name",
              "value": "ai-microservices-api",
              "type": "string"
            },
            {
              "id": "github_repo",
              "name": "github_repo",
              "value": "Ab-Romia/AI_Microservices",
              "type": "string"
            },
            {
              "id": "deployment_branch",
              "name": "deployment_branch",
              "value": "claude/optimize-production-deployment-01K3iMGqie3PbeYrrN4tAnt8",
              "type": "string"
            },
            {
              "id": "api_version",
              "name": "api_version",
              "value": "v1",
              "type": "string"
            },
            {
              "id": "health_check_path",
              "name": "health_check_path",
              "value": "/api/v1/health",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Set Deployment Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "database_url_check",
              "leftValue": "={{ $env.DATABASE_URL }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "api_key_check",
              "leftValue": "={{ $env.API_KEY }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "qdrant_url_check",
              "leftValue": "={{ $env.QDRANT_URL }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "openai_key_check",
              "leftValue": "={{ $env.OPENAI_API_KEY }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-env",
      "name": "Validate Environment Variables",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "content": "=## ❌ Missing Environment Variables\n\n**Required Variables:**\n- DATABASE_URL\n- API_KEY\n- QDRANT_URL\n- QDRANT_API_KEY\n- OPENAI_API_KEY\n\n**Please configure in Render Dashboard:**\nEnvironment > Environment Variables",
        "height": 250,
        "width": 350
      },
      "id": "env-error-note",
      "name": "Environment Error",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [650, 100]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "env-validation-pass",
      "name": "Continue Deployment",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.DATABASE_URL.replace('postgresql+asyncpg://', 'https://').split('@')[1].split(':')[0] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "SELECT 1 as health_check"
            }
          ]
        },
        "options": {}
      },
      "id": "test-database",
      "name": "Test Database Connection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 400],
      "notesInFlow": true,
      "notes": "Verify Supabase connection"
    },
    {
      "parameters": {
        "url": "={{ $env.QDRANT_URL }}/collections",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.QDRANT_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "test-qdrant",
      "name": "Test Qdrant Connection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 600],
      "notesInFlow": true,
      "notes": "Verify Qdrant cluster is accessible"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "commit",
        "operation": "get",
        "owner": "={{ $('Set Deployment Config').item.json.github_repo.split('/')[0] }}",
        "repository": "={{ $('Set Deployment Config').item.json.github_repo.split('/')[1] }}",
        "sha": "={{ $('Set Deployment Config').item.json.deployment_branch }}"
      },
      "id": "get-latest-commit",
      "name": "Get Latest Commit Info",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1250, 400],
      "credentials": {
        "githubOAuth2Api": {
          "id": "github_oauth_cred",
          "name": "GitHub OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.render.com/v1/services/={{ $env.RENDER_SERVICE_ID }}/deploys",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RENDER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "clearCache",
              "value": "no"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-render-deploy",
      "name": "Trigger Render Deployment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 400],
      "notesInFlow": true,
      "notes": "Deploy to Render.com"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-for-deployment",
      "name": "Wait for Deployment",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1650, 400],
      "webhookId": "deployment-wait"
    },
    {
      "parameters": {
        "url": "={{ $env.RENDER_SERVICE_URL }}{{ $('Set Deployment Config').item.json.health_check_path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "retry": {
            "maxRetries": 5,
            "retryInterval": 5000
          }
        }
      },
      "id": "health-check",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "health_status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "healthy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "db_status",
              "leftValue": "={{ $json.database }}",
              "rightValue": "connected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "qdrant_status",
              "leftValue": "={{ $json.qdrant }}",
              "rightValue": "connected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-health",
      "name": "Validate Health Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2050, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RENDER_SERVICE_URL }}/api/v1/n8n/prepare-context",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"instagram:@deployment_test\",\n  \"message\": \"Hello, testing deployment\",\n  \"channel\": \"instagram\"\n}",
        "options": {}
      },
      "id": "test-api-endpoint",
      "name": "Test Main API Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "deployment_status",
              "name": "deployment_status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "deployment_url",
              "name": "deployment_url",
              "value": "={{ $env.RENDER_SERVICE_URL }}",
              "type": "string"
            },
            {
              "id": "health_check_result",
              "name": "health_check_result",
              "value": "={{ $('Health Check').item.json }}",
              "type": "object"
            },
            {
              "id": "api_test_result",
              "name": "api_test_result",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "commit_info",
              "name": "commit_info",
              "value": "={{ $('Get Latest Commit Info').item.json.commit.message }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "success-summary",
      "name": "Build Success Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2450, 500]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('Set Deployment Config').item.json.github_repo.split('/')[0] }}",
        "repository": "={{ $('Set Deployment Config').item.json.github_repo.split('/')[1] }}",
        "issueNumber": "={{ $env.GITHUB_ISSUE_NUMBER || '' }}",
        "body": "=## ✅ Deployment Successful\n\n**Service:** {{ $('Set Deployment Config').item.json.render_service_name }}\n**URL:** {{ $env.RENDER_SERVICE_URL }}\n**Branch:** {{ $('Set Deployment Config').item.json.deployment_branch }}\n**Commit:** {{ $json.commit_info }}\n**Timestamp:** {{ $json.timestamp }}\n\n### Health Check ✓\n- Status: {{ $json.health_check_result.status }}\n- Database: {{ $json.health_check_result.database }}\n- Qdrant: {{ $json.health_check_result.qdrant }}\n- Version: {{ $json.health_check_result.version }}\n\n### API Test ✓\n- Main endpoint responding correctly\n- Authentication working\n- Context preparation functional\n\n**🎉 All systems operational!**"
      },
      "id": "notify-success",
      "name": "Post Success Comment",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2650, 500],
      "credentials": {
        "githubOAuth2Api": {
          "id": "github_oauth_cred",
          "name": "GitHub OAuth2"
        }
      },
      "disabled": true,
      "notesInFlow": true,
      "notes": "Optional: Enable if using GitHub Issues"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "deployment_status",
              "name": "deployment_status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "error_message",
              "name": "error_message",
              "value": "={{ $json.error || 'Health check failed' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "failure-summary",
      "name": "Build Failure Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('Set Deployment Config').item.json.github_repo.split('/')[0] }}",
        "repository": "={{ $('Set Deployment Config').item.json.github_repo.split('/')[1] }}",
        "issueNumber": "={{ $env.GITHUB_ISSUE_NUMBER || '' }}",
        "body": "=## ❌ Deployment Failed\n\n**Service:** {{ $('Set Deployment Config').item.json.render_service_name }}\n**Branch:** {{ $('Set Deployment Config').item.json.deployment_branch }}\n**Timestamp:** {{ $json.timestamp }}\n\n### Error Details\n```\n{{ $json.error_message }}\n```\n\n### Troubleshooting Steps\n1. Check Render logs for detailed errors\n2. Verify all environment variables are set\n3. Test database and Qdrant connections manually\n4. Review recent commits for breaking changes\n\n**Please investigate and retry deployment.**"
      },
      "id": "notify-failure",
      "name": "Post Failure Comment",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2450, 300],
      "credentials": {
        "githubOAuth2Api": {
          "id": "github_oauth_cred",
          "name": "GitHub OAuth2"
        }
      },
      "disabled": true,
      "notesInFlow": true,
      "notes": "Optional: Enable if using GitHub Issues"
    },
    {
      "parameters": {
        "jsCode": "// Send deployment notification via webhook, Slack, Discord, etc.\nconst deploymentData = $input.all();\n\nreturn {\n  json: {\n    text: `🚀 Deployment Complete`,\n    blocks: [\n      {\n        type: \"section\",\n        text: {\n          type: \"mrkdwn\",\n          text: `*AI Microservices Deployment*\\nStatus: ${deploymentData[0].json.deployment_status}\\nURL: ${deploymentData[0].json.deployment_url}`\n        }\n      }\n    ]\n  }\n};"
      },
      "id": "send-notification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2850, 400],
      "disabled": true,
      "notesInFlow": true,
      "notes": "Optional: Configure Slack/Discord webhook"
    }
  ],
  "connections": {
    "Manual Deploy Trigger": {
      "main": [
        [
          {
            "node": "Set Deployment Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Deployment Config": {
      "main": [
        [
          {
            "node": "Validate Environment Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Environment Variables": {
      "main": [
        [
          {
            "node": "Continue Deployment",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Continue Deployment": {
      "main": [
        [
          {
            "node": "Test Database Connection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test Qdrant Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Database Connection": {
      "main": [
        [
          {
            "node": "Get Latest Commit Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Qdrant Connection": {
      "main": [
        [
          {
            "node": "Get Latest Commit Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Commit Info": {
      "main": [
        [
          {
            "node": "Trigger Render Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Render Deployment": {
      "main": [
        [
          {
            "node": "Wait for Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Deployment": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Validate Health Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Health Response": {
      "main": [
        [
          {
            "node": "Test Main API Endpoint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Main API Endpoint": {
      "main": [
        [
          {
            "node": "Build Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Summary": {
      "main": [
        [
          {
            "node": "Post Success Comment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Failure Summary": {
      "main": [
        [
          {
            "node": "Post Failure Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-28T00:00:00.000Z",
      "updatedAt": "2025-11-28T00:00:00.000Z",
      "id": "deployment",
      "name": "Deployment"
    },
    {
      "createdAt": "2025-11-28T00:00:00.000Z",
      "updatedAt": "2025-11-28T00:00:00.000Z",
      "id": "cicd",
      "name": "CI/CD"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-28T00:00:00.000Z",
  "versionId": "1.0.0"
}
