n8n_workflow_linear_backup.json
{
  "name": "E-commerce AI Assistant - Instagram & WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "instagram-trigger",
      "name": "Instagram Message Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "instagram-messages"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "whatsapp-trigger",
      "name": "WhatsApp Message Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 500],
      "webhookId": "whatsapp-messages"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "customer_id",
              "name": "customer_id",
              "value": "={{ $json.channel === 'instagram' ? 'instagram:@' + $json.sender_username : 'whatsapp:' + $json.sender_phone }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.message_text || $json.text || $json.message }}",
              "type": "string"
            },
            {
              "id": "channel",
              "name": "channel",
              "value": "={{ $json.channel || ($runIndex === 0 ? 'instagram' : 'whatsapp') }}",
              "type": "string"
            },
            {
              "id": "sender_name",
              "name": "sender_name",
              "value": "={{ $json.sender_name || $json.from_name || '' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $json.timestamp || $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-message",
      "name": "Normalize Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/n8n/prepare-context-enhanced",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $json.customer_id }}\",\n  \"message\": \"{{ $json.message }}\",\n  \"channel\": \"{{ $json.channel }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "prepare-context",
      "name": "Prepare Context (API Call)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "notesInFlow": true,
      "notes": "Calls /n8n/prepare-context-enhanced\nReturns: conversation history, products, order history, intent, customer data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip_ai_check",
              "leftValue": "={{ $json.skip_ai }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-skip-ai",
      "name": "Check if Cached/Skip AI",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ai_response",
              "name": "ai_response",
              "value": "={{ $json.cached_response }}",
              "type": "string"
            },
            {
              "id": "intent",
              "name": "intent",
              "value": "={{ $json.intent_analysis.intent }}",
              "type": "string"
            },
            {
              "id": "action",
              "name": "action",
              "value": "cached_response",
              "type": "string"
            },
            {
              "id": "tokens_used",
              "name": "tokens_used",
              "value": "=0",
              "type": "number"
            },
            {
              "id": "customer_id",
              "name": "customer_id",
              "value": "={{ $('Normalize Message Data').item.json.customer_id }}",
              "type": "string"
            },
            {
              "id": "channel",
              "name": "channel",
              "value": "={{ $('Normalize Message Data').item.json.channel }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $('Normalize Message Data').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "use-cached",
      "name": "Use Cached Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "system_prompt",
              "name": "system_prompt",
              "value": "=You are a helpful Arabic/English bilingual customer service assistant for an e-commerce clothing store.\n\n## Your Personality\n- Friendly, professional, and helpful\n- Respond in the same language as the customer (Arabic or English)\n- Be concise but thorough\n- Use emojis sparingly and naturally\n\n## Your Capabilities\nYou can help customers with:\n1. **Product inquiries** - Search and recommend products\n2. **Order creation** - Place orders with confirmation\n3. **Order status** - Check existing orders\n4. **General questions** - Answer questions about shipping, returns, sizing, etc.\n\n## Important Rules\n1. **Always format money as Egyptian Pounds (EGP)** - e.g., \"299 EGP\" or \"جنيه 299\"\n2. **For orders, you MUST collect:** Product name, size, color, quantity, customer name, phone, address\n3. **Use the provided context:** Customer history, order history, and product catalog\n4. **When creating orders:** Use the action format specified below\n5. **Be conversational** - Don't sound robotic\n\n## Response Format\nYour response must be JSON with this structure:\n```json\n{\n  \"message\": \"Your response to the customer in their language\",\n  \"action\": \"answer|create_order|check_order\",\n  \"order_data\": {\n    \"product_id\": \"uuid\",\n    \"product_name\": \"string\",\n    \"size\": \"S|M|L|XL|XXL\",\n    \"color\": \"string\",\n    \"quantity\": 1,\n    \"total_price\": 299.00,\n    \"customer_name\": \"string\",\n    \"phone\": \"+20XXXXXXXXXX\",\n    \"address\": \"string\"\n  }\n}\n```\n\n**IMPORTANT:** Only include `order_data` if `action` is `create_order` AND you have ALL required information.\n\nIf customer wants to order but you're missing information (name, phone, address, size, etc.), ask for it in the message and set action to \"answer\".\n\nFor order confirmations, use {{ORDER_ID}} placeholder which will be replaced with the actual order ID.",
              "type": "string"
            },
            {
              "id": "user_prompt",
              "name": "user_prompt",
              "value": "=## Customer Information\n**Customer ID:** {{ $json.customer_metadata.name || $('Normalize Message Data').item.json.customer_id }}\n**Phone:** {{ $json.customer_metadata.phone || 'Not provided' }}\n**Total Orders:** {{ $json.customer_metadata.total_orders || 0 }}\n**Total Spent:** {{ $json.customer_metadata.total_spent || 0 }} EGP\n**Preferred Language:** {{ $json.customer_metadata.preferred_language || 'en' }}\n\n## Conversation History\n{{ $json.conversation_history || 'No previous conversation.' }}\n\n## Customer Order History\n{{ $json.customer_order_history || 'No previous orders.' }}\n\n## Current Message\n**Customer says:** {{ $('Normalize Message Data').item.json.message }}\n\n## Intent Analysis\n**Detected Intent:** {{ $json.intent_analysis.intent }}\n**Confidence:** {{ $json.intent_analysis.confidence }}\n**Extracted Entities:**\n- Product: {{ $json.intent_analysis.entities.product_name || 'None' }}\n- Size: {{ $json.intent_analysis.entities.size || 'None' }}\n- Color: {{ $json.intent_analysis.entities.color || 'None' }}\n- Quantity: {{ $json.intent_analysis.entities.quantity || 1 }}\n- Phone: {{ $json.intent_analysis.entities.phone || 'None' }}\n\n## Relevant Products\n{{ $json.relevant_products }}\n\n---\n\nBased on the above context, provide your response in JSON format as specified.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "build-ai-prompt",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.system_prompt }}"
            },
            {
              "role": "user",
              "content": "={{ $json.user_prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        },
        "jsonOutput": true
      },
      "id": "call-openai",
      "name": "Call OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [1340, 500],
      "credentials": {
        "openAiApi": {
          "id": "openai_api_cred",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response and merge with context\nconst openaiResponse = $input.item.json.message?.content || $input.item.json.choices?.[0]?.message?.content || '{}';\nconst contextData = $('Prepare Context (API Call)').item.json;\nconst messageData = $('Normalize Message Data').item.json;\n\n// Try to parse JSON response\nlet parsedResponse;\ntry {\n  // Extract JSON from markdown code blocks if present\n  let jsonText = openaiResponse;\n  if (jsonText.includes('```json')) {\n    jsonText = jsonText.split('```json')[1].split('```')[0].trim();\n  } else if (jsonText.includes('```')) {\n    jsonText = jsonText.split('```')[1].split('```')[0].trim();\n  }\n  parsedResponse = JSON.parse(jsonText);\n} catch (e) {\n  // Fallback if not valid JSON\n  parsedResponse = {\n    message: openaiResponse,\n    action: \"answer\"\n  };\n}\n\n// Calculate tokens (rough estimate)\nconst promptTokens = JSON.stringify($json.user_prompt).length / 4;\nconst responseTokens = openaiResponse.length / 4;\nconst totalTokens = Math.round(promptTokens + responseTokens);\n\nreturn {\n  json: {\n    ai_response: parsedResponse.message,\n    action: parsedResponse.action || \"answer\",\n    order_data: parsedResponse.order_data || null,\n    intent: contextData.intent_analysis?.intent || \"general_inquiry\",\n    tokens_used: totalTokens,\n    customer_id: messageData.customer_id,\n    channel: messageData.channel,\n    message: messageData.message\n  }\n};"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-responses",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action_is_create_order",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create_order",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "order_data_exists",
              "leftValue": "={{ $json.order_data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-create-order",
      "name": "Check if Create Order",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/n8n/create-order",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $json.customer_id }}\",\n  \"channel\": \"{{ $json.channel }}\",\n  \"product_id\": \"{{ $json.order_data.product_id }}\",\n  \"product_name\": \"{{ $json.order_data.product_name }}\",\n  \"size\": \"{{ $json.order_data.size }}\",\n  \"color\": \"{{ $json.order_data.color }}\",\n  \"quantity\": {{ $json.order_data.quantity }},\n  \"total_price\": {{ $json.order_data.total_price }},\n  \"customer_name\": \"{{ $json.order_data.customer_name }}\",\n  \"phone\": \"{{ $json.order_data.phone }}\",\n  \"address\": \"{{ $json.order_data.address }}\"\n}",
        "options": {}
      },
      "id": "create-order",
      "name": "Create Order (API Call)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "jsCode": "// Replace {{ORDER_ID}} placeholder with actual order ID\nconst responseData = $input.item.json;\nconst orderResult = $('Create Order (API Call)').item.json;\n\nlet finalResponse = responseData.ai_response;\n\nif (orderResult.success && orderResult.order_id) {\n  // Extract short order ID (first 8 characters)\n  const shortOrderId = orderResult.order_id.substring(0, 8).toUpperCase();\n  finalResponse = finalResponse.replace(/\\{\\{ORDER_ID\\}\\}/g, shortOrderId);\n} else {\n  // Order failed, replace with error message\n  finalResponse = finalResponse.replace(/\\{\\{ORDER_ID\\}\\}/g, '');\n  const errorMsg = orderResult.message || orderResult.error || 'Order creation failed';\n  finalResponse = finalResponse.replace(/\\{\\{ERROR_MESSAGE\\}\\}/g, errorMsg);\n}\n\nreturn {\n  json: {\n    ...responseData,\n    ai_response: finalResponse,\n    order_created: orderResult.success || false,\n    order_id: orderResult.order_id || null\n  }\n};"
      },
      "id": "process-order-result",
      "name": "Process Order Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-order-flow",
      "name": "Merge Order Flow",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [2660, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/n8n/store-interaction",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $json.customer_id }}\",\n  \"channel\": \"{{ $json.channel }}\",\n  \"user_message\": \"{{ $json.message }}\",\n  \"ai_response\": \"{{ $json.ai_response }}\",\n  \"intent\": \"{{ $json.intent }}\",\n  \"action\": \"{{ $json.action }}\",\n  \"order_data\": {{ $json.order_data || 'null' }},\n  \"ai_tokens_used\": {{ $json.tokens_used || 0 }},\n  \"response_time_ms\": {{ Math.round(($now.toMillis() - new Date($('Normalize Message Data').item.json.timestamp).getTime())) }}\n}",
        "options": {}
      },
      "id": "store-interaction",
      "name": "Store Interaction (API Call)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 400],
      "notesInFlow": true,
      "notes": "Saves the interaction, caches response, logs analytics"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "={{ $('Merge Order Flow').item.json.ai_response }}",
              "type": "string"
            },
            {
              "id": "customer_id",
              "name": "customer_id",
              "value": "={{ $('Normalize Message Data').item.json.customer_id }}",
              "type": "string"
            },
            {
              "id": "channel",
              "name": "channel",
              "value": "={{ $('Normalize Message Data').item.json.channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-response",
      "name": "Prepare Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [3100, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "channel_is_instagram",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-by-channel",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3320, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v18.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $env.INSTAGRAM_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Instagram Message Received').item.json.sender_id }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $json.response_text }}\"\n  }\n}",
        "options": {}
      },
      "id": "send-instagram",
      "name": "Send Instagram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('WhatsApp Message Received').item.json.sender_phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.response_text }}\"\n  }\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3540, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Message processed\" } }}",
        "options": {}
      },
      "id": "webhook-response-instagram",
      "name": "Webhook Response (Instagram)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3760, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Message processed\" } }}",
        "options": {}
      },
      "id": "webhook-response-whatsapp",
      "name": "Webhook Response (WhatsApp)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3760, 500]
    },
    {
      "parameters": {
        "content": "## 🚀 E-commerce AI Assistant Workflow\n\n**What it does:**\n1. Receives Instagram/WhatsApp messages\n2. Fetches customer context & history\n3. Searches relevant products\n4. Generates AI response\n5. Creates orders if requested\n6. Sends reply back to customer\n\n**Supports:**\n✅ Multilingual (Arabic/English)\n✅ Product search & recommendations\n✅ Order creation & tracking\n✅ Conversation history\n✅ Response caching\n✅ Analytics logging",
        "height": 320,
        "width": 380
      },
      "id": "workflow-info",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 80]
    },
    {
      "parameters": {
        "content": "## 📥 Message Input\n\n**Instagram Webhook:**\nPOST /webhook/instagram-webhook\n\n**WhatsApp Webhook:**\nPOST /webhook/whatsapp-webhook\n\n**Expected payload:**\n- sender_id / sender_phone\n- sender_username / sender_name\n- message_text / text\n- channel (instagram/whatsapp)\n- timestamp",
        "height": 260,
        "width": 280,
        "color": 4
      },
      "id": "input-note",
      "name": "Input Configuration",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [220, 580]
    },
    {
      "parameters": {
        "content": "## 🧠 AI Processing\n\n**Uses:**\n- Customer conversation history\n- Order history\n- RAG-powered product search\n- Intent classification\n- Entity extraction\n\n**AI generates:**\n- Contextual response\n- Action to take\n- Order data (if applicable)",
        "height": 260,
        "width": 300,
        "color": 5
      },
      "id": "ai-note",
      "name": "AI Processing",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1100, 80]
    },
    {
      "parameters": {
        "content": "## 📦 Order Creation\n\n**When action = create_order:**\n1. Validates product & stock\n2. Creates order in DB\n3. Updates customer profile\n4. Returns order_id\n5. Replaces {{ORDER_ID}} in response\n\n**Fallback:**\nIf order fails, uses error message",
        "height": 240,
        "width": 300,
        "color": 6
      },
      "id": "order-note",
      "name": "Order Processing",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2200, 80]
    },
    {
      "parameters": {
        "content": "## 📤 Response Delivery\n\n**Instagram:**\nMeta Graph API\n/me/messages endpoint\n\n**WhatsApp:**\nWhatsApp Business API\n/messages endpoint\n\n**Webhook Response:**\nReturns 200 OK immediately",
        "height": 240,
        "width": 280,
        "color": 3
      },
      "id": "output-note",
      "name": "Output Delivery",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3520, 80]
    }
  ],
  "connections": {
    "Instagram Message Received": {
      "main": [
        [
          {
            "node": "Normalize Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Message Received": {
      "main": [
        [
          {
            "node": "Normalize Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Message Data": {
      "main": [
        [
          {
            "node": "Prepare Context (API Call)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context (API Call)": {
      "main": [
        [
          {
            "node": "Check if Cached/Skip AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Cached/Skip AI": {
      "main": [
        [
          {
            "node": "Use Cached Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Cached Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Check if Create Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Create Order": {
      "main": [
        [
          {
            "node": "Create Order (API Call)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Order Flow",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Order (API Call)": {
      "main": [
        [
          {
            "node": "Process Order Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Order Result": {
      "main": [
        [
          {
            "node": "Merge Order Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Order Flow": {
      "main": [
        [
          {
            "node": "Store Interaction (API Call)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Interaction (API Call)": {
      "main": [
        [
          {
            "node": "Prepare Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Response": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Send Instagram Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instagram Reply": {
      "main": [
        [
          {
            "node": "Webhook Response (Instagram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Webhook Response (WhatsApp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-28T00:00:00.000Z",
      "updatedAt": "2025-11-28T00:00:00.000Z",
      "id": "ecommerce",
      "name": "E-commerce"
    },
    {
      "createdAt": "2025-11-28T00:00:00.000Z",
      "updatedAt": "2025-11-28T00:00:00.000Z",
      "id": "ai-assistant",
      "name": "AI Assistant"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-11-28T00:00:00.000Z",
  "versionId": "1.0.0"
}
