n8n_workflow_multi_agent.json
{
  "name": "E-commerce AI Agent - Multi-Agent Tool Calling",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "instagram-trigger",
      "name": "Instagram Message Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "instagram-messages"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "whatsapp-trigger",
      "name": "WhatsApp Message Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 500],
      "webhookId": "whatsapp-messages"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "customer_id",
              "name": "customer_id",
              "value": "={{ $json.channel === 'instagram' ? 'instagram:@' + $json.sender_username : 'whatsapp:' + $json.sender_phone }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.message_text || $json.text || $json.message }}",
              "type": "string"
            },
            {
              "id": "channel",
              "name": "channel",
              "value": "={{ $json.channel || ($runIndex === 0 ? 'instagram' : 'whatsapp') }}",
              "type": "string"
            },
            {
              "id": "sender_name",
              "name": "sender_name",
              "value": "={{ $json.sender_name || $json.from_name || '' }}",
              "type": "string"
            },
            {
              "id": "sender_id_raw",
              "name": "sender_id_raw",
              "value": "={{ $json.sender_id || $json.sender_phone || '' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $json.timestamp || $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-message",
      "name": "Normalize Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an intelligent AI assistant for an e-commerce clothing store serving customers via Instagram and WhatsApp. You communicate in Arabic and English fluently.\n\n## Your Identity\n- Friendly, helpful, and professional Arabic/English bilingual customer service agent\n- Expert in fashion, sizing, colors, and e-commerce operations\n- Always respond in the SAME language the customer uses\n- Format prices in Egyptian Pounds (EGP): \"299 EGP\" or \"جنيه 299\"\n\n## Available Tools\nYou have access to these tools to help customers:\n\n1. **prepare_context** - MUST call this FIRST for every conversation\n   - Gets customer's conversation history, profile, and intent analysis\n   - Returns cached responses if available\n   - Provides relevant product recommendations based on the message\n   - Use this before responding to understand the customer\n\n2. **search_products** - Call when customer asks about specific items/availability\n   - Search for products by keywords (Arabic, English, or Franco-Arabic)\n   - Returns products with prices, sizes, colors, and stock status\n   - Only use when customer explicitly asks \"do you have...\" or wants recommendations\n\n3. **retrieve_memory** - Fetch customer's long-term preferences/facts\n   - Get stored preferences (favorite colors, sizes, etc.)\n   - Access past order patterns\n   - Use when you need personalization data\n\n4. **store_memory** - Store important customer preferences\n   - Save size preferences, color likes/dislikes\n   - Store shipping addresses\n   - Record any explicit customer preferences\n\n5. **store_interaction** - MUST call this LAST after generating your response\n   - Logs the complete interaction for analytics\n   - Caches your response for future use\n   - Updates customer profile\n   - ALWAYS include: customer_id, channel, user_message, ai_response, intent, action\n\n## Workflow Rules\n1. **ALWAYS start by calling prepare_context** to understand who you're talking to\n2. If prepare_context returns skip_ai=true, use the cached_response directly\n3. Only call search_products if customer asks about specific items or availability\n4. **ALWAYS end by calling store_interaction** to save the conversation\n5. Make decisions autonomously - don't ask for permission to use tools\n\n## Response Guidelines\n- Match the customer's language (Arabic or English)\n- Be concise but helpful (2-4 sentences usually)\n- For orders, collect: product, size, color, quantity, name, phone, address\n- If missing order details, ask for them before confirming\n- Use emojis sparingly and naturally\n- Format prices clearly with EGP currency\n\n## Order Creation\nWhen a customer wants to order:\n1. Verify you have: product name, size, color, customer name, phone, address\n2. If anything is missing, ask for it\n3. Once you have everything, confirm the order details\n4. The order will be created via the store_interaction tool with action=\"create_order\"\n\n## Current Conversation\nCustomer ID: {{ $('Normalize Message Data').item.json.customer_id }}\nChannel: {{ $('Normalize Message Data').item.json.channel }}\nMessage: {{ $('Normalize Message Data').item.json.message }}\n\nNow process this message intelligently using your available tools."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent (Tool Calling)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [680, 400],
      "credentials": {
        "openAiApi": {
          "id": "openai_api_cred",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "name": "prepare_context",
        "description": "Get customer conversation history, profile data, intent analysis, and relevant products. MUST be called FIRST in every conversation to understand the context. Returns cached responses if available (skip_ai=true means use cached_response).",
        "workflowId": "={{ $workflow.id }}",
        "specifyInputSchema": true,
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"customer_id\": {\n      \"type\": \"string\",\n      \"description\": \"Customer identifier (e.g., 'instagram:@username' or 'whatsapp:+20123456789')\"\n    },\n    \"message\": {\n      \"type\": \"string\",\n      \"description\": \"The customer's current message\"\n    },\n    \"channel\": {\n      \"type\": \"string\",\n      \"enum\": [\"instagram\", \"whatsapp\"],\n      \"description\": \"Communication channel\"\n    }\n  },\n  \"required\": [\"customer_id\", \"message\", \"channel\"]\n}",
        "responsePropertyName": "context_data"
      },
      "id": "tool-prepare-context",
      "name": "Tool: Prepare Context",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "name": "search_products",
        "description": "Search for products in the catalog by keywords (Arabic, English, Franco-Arabic). Use this ONLY when customer explicitly asks about product availability or wants recommendations. Returns products with name, price, sizes, colors, stock status.",
        "workflowId": "={{ $workflow.id }}",
        "specifyInputSchema": true,
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"query\": {\n      \"type\": \"string\",\n      \"description\": \"Search query in any language (e.g., 'red dress', 'فستان أحمر', 'fos2an a7mar')\"\n    },\n    \"limit\": {\n      \"type\": \"number\",\n      \"description\": \"Maximum number of products to return (default: 5)\",\n      \"default\": 5\n    }\n  },\n  \"required\": [\"query\"]\n}",
        "responsePropertyName": "products"
      },
      "id": "tool-search-products",
      "name": "Tool: Search Products",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [900, 350]
    },
    {
      "parameters": {
        "name": "retrieve_memory",
        "description": "Fetch customer's stored long-term memories, preferences, and facts. Use this to personalize responses based on past interactions.",
        "workflowId": "={{ $workflow.id }}",
        "specifyInputSchema": true,
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"customer_id\": {\n      \"type\": \"string\",\n      \"description\": \"Customer identifier\"\n    },\n    \"limit\": {\n      \"type\": \"number\",\n      \"description\": \"Number of memories to retrieve\",\n      \"default\": 20\n    }\n  },\n  \"required\": [\"customer_id\"]\n}",
        "responsePropertyName": "memories"
      },
      "id": "tool-retrieve-memory",
      "name": "Tool: Retrieve Memory",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "name": "store_memory",
        "description": "Store a long-term memory or fact about the customer (preferences, constraints, personal info). Use this when customer explicitly mentions preferences like 'I always wear size M' or 'I love blue colors'.",
        "workflowId": "={{ $workflow.id }}",
        "specifyInputSchema": true,
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"customer_id\": {\n      \"type\": \"string\",\n      \"description\": \"Customer identifier\"\n    },\n    \"channel\": {\n      \"type\": \"string\",\n      \"enum\": [\"instagram\", \"whatsapp\"]\n    },\n    \"message\": {\n      \"type\": \"string\",\n      \"description\": \"The memory/fact to store\"\n    },\n    \"direction\": {\n      \"type\": \"string\",\n      \"enum\": [\"incoming\", \"outgoing\"],\n      \"default\": \"incoming\"\n    },\n    \"intent\": {\n      \"type\": \"string\",\n      \"description\": \"Type of memory\",\n      \"default\": \"preference\"\n    }\n  },\n  \"required\": [\"customer_id\", \"channel\", \"message\"]\n}",
        "responsePropertyName": "stored"
      },
      "id": "tool-store-memory",
      "name": "Tool: Store Memory",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [900, 650]
    },
    {
      "parameters": {
        "name": "store_interaction",
        "description": "Store the complete interaction after generating your response. MUST be called LAST with your final response, customer_id, intent, and action. This logs analytics, caches your response, and updates customer profile.",
        "workflowId": "={{ $workflow.id }}",
        "specifyInputSchema": true,
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"customer_id\": {\n      \"type\": \"string\",\n      \"description\": \"Customer identifier\"\n    },\n    \"channel\": {\n      \"type\": \"string\",\n      \"enum\": [\"instagram\", \"whatsapp\"]\n    },\n    \"user_message\": {\n      \"type\": \"string\",\n      \"description\": \"The customer's original message\"\n    },\n    \"ai_response\": {\n      \"type\": \"string\",\n      \"description\": \"Your generated response to the customer\"\n    },\n    \"intent\": {\n      \"type\": \"string\",\n      \"description\": \"Detected intent (greeting, product_inquiry, order_intent, etc.)\"\n    },\n    \"action\": {\n      \"type\": \"string\",\n      \"description\": \"Action taken (answer, create_order, check_order)\"\n    },\n    \"order_data\": {\n      \"type\": \"object\",\n      \"description\": \"Order details if action is create_order\",\n      \"properties\": {\n        \"product_id\": {\"type\": \"string\"},\n        \"product_name\": {\"type\": \"string\"},\n        \"size\": {\"type\": \"string\"},\n        \"color\": {\"type\": \"string\"},\n        \"quantity\": {\"type\": \"number\"},\n        \"total_price\": {\"type\": \"number\"},\n        \"customer_name\": {\"type\": \"string\"},\n        \"phone\": {\"type\": \"string\"},\n        \"address\": {\"type\": \"string\"}\n      }\n    }\n  },\n  \"required\": [\"customer_id\", \"channel\", \"user_message\", \"ai_response\", \"intent\", \"action\"]\n}",
        "responsePropertyName": "interaction_stored"
      },
      "id": "tool-store-interaction",
      "name": "Tool: Store Interaction",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [900, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/api/v1/n8n/prepare-context",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-prepare-context",
      "name": "HTTP: Prepare Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/api/v1/products/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "http-search-products",
      "name": "HTTP: Search Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 350]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_URL }}/api/v1/context/retrieve",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $json.customer_id }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit || 20 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-retrieve-memory",
      "name": "HTTP: Retrieve Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/api/v1/context/store",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "http-store-memory",
      "name": "HTTP: Store Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 650]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/api/v1/n8n/store-interaction",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "http-store-interaction",
      "name": "HTTP: Store Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 800]
    },
    {
      "parameters": {
        "jsCode": "// Extract the AI agent's final response\nconst agentOutput = $input.item.json.output || $input.item.json.text || '';\nconst messageData = $('Normalize Message Data').item.json;\n\nreturn {\n  json: {\n    response_text: agentOutput,\n    customer_id: messageData.customer_id,\n    channel: messageData.channel,\n    sender_id_raw: messageData.sender_id_raw\n  }\n};"
      },
      "id": "extract-response",
      "name": "Extract Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "channel_is_instagram",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-by-channel",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v18.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $env.INSTAGRAM_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.sender_id_raw }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $json.response_text }}\"\n  }\n}",
        "options": {}
      },
      "id": "send-instagram",
      "name": "Send Instagram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.sender_id_raw }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.response_text }}\"\n  }\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Message processed by AI agent\" } }}",
        "options": {}
      },
      "id": "webhook-response-instagram",
      "name": "Webhook Response (Instagram)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Message processed by AI agent\" } }}",
        "options": {}
      },
      "id": "webhook-response-whatsapp",
      "name": "Webhook Response (WhatsApp)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 500]
    },
    {
      "parameters": {
        "content": "## 🤖 Multi-Agent AI Assistant\n\n**Architecture:** Tool-Calling LLM Agent\n\n**How it works:**\n1. Receives message from Instagram/WhatsApp\n2. AI Agent autonomously decides which tools to use\n3. Agent calls API endpoints as needed:\n   - prepare_context (always first)\n   - search_products (when needed)\n   - retrieve_memory (for personalization)\n   - store_memory (to save preferences)\n   - store_interaction (always last)\n4. Agent generates contextual response\n5. Sends reply to customer\n\n**Benefits:**\n✅ Dynamic decision-making\n✅ No hardcoded logic\n✅ Adapts to conversation flow\n✅ Reduces unnecessary API calls\n✅ More intelligent responses",
        "height": 400,
        "width": 380,
        "color": 5
      },
      "id": "workflow-info",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 80]
    },
    {
      "parameters": {
        "content": "## 🔧 Available Tools\n\n**1. prepare_context** (required first)\n- Get conversation history\n- Customer profile data\n- Intent classification\n- Cached responses\n\n**2. search_products** (conditional)\n- Search product catalog\n- Multilingual support\n- Only when customer asks\n\n**3. retrieve_memory** (optional)\n- Get customer preferences\n- Past order patterns\n\n**4. store_memory** (optional)\n- Save preferences\n- Store important facts\n\n**5. store_interaction** (required last)\n- Log analytics\n- Cache response\n- Update profile",
        "height": 460,
        "width": 320,
        "color": 6
      },
      "id": "tools-note",
      "name": "Tool Definitions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [880, 950]
    }
  ],
  "connections": {
    "Instagram Message Received": {
      "main": [
        [
          {
            "node": "Normalize Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Message Received": {
      "main": [
        [
          {
            "node": "Normalize Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Message Data": {
      "main": [
        [
          {
            "node": "AI Agent (Tool Calling)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Tool Calling)": {
      "main": [
        [
          {
            "node": "Extract Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Prepare Context": {
      "main": [
        [
          {
            "node": "HTTP: Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Search Products": {
      "main": [
        [
          {
            "node": "HTTP: Search Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Retrieve Memory": {
      "main": [
        [
          {
            "node": "HTTP: Retrieve Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Store Memory": {
      "main": [
        [
          {
            "node": "HTTP: Store Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Store Interaction": {
      "main": [
        [
          {
            "node": "HTTP: Store Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Agent Response": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Send Instagram Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instagram Reply": {
      "main": [
        [
          {
            "node": "Webhook Response (Instagram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Webhook Response (WhatsApp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-28T00:00:00.000Z",
      "updatedAt": "2025-11-28T00:00:00.000Z",
      "id": "multi-agent",
      "name": "Multi-Agent"
    },
    {
      "createdAt": "2025-11-28T00:00:00.000Z",
      "updatedAt": "2025-11-28T00:00:00.000Z",
      "id": "tool-calling",
      "name": "Tool Calling"
    },
    {
      "createdAt": "2025-11-28T00:00:00.000Z",
      "updatedAt": "2025-11-28T00:00:00.000Z",
      "id": "ecommerce",
      "name": "E-commerce"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-11-28T00:00:00.000Z",
  "versionId": "2.0.0"
}
