n8n_workflows/current_workflow.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-dm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a4031be-6ea4-48fb-80d6-233e602453a1",
      "name": "Instagram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1104,
        192
      ],
      "webhookId": "instagram-dm-handler"
    },
    {
      "parameters": {
        "jsCode": "// Extract message data from Instagram webhook payload OR test request\nconst webhookData = $input.all()[0].json;\nconst startTime = Date.now();\n\nconsole.log('Full webhook data:', JSON.stringify(webhookData, null, 2));\n\n// Check if this is a test request (has test_mode flag)\nconst isTestMode = webhookData.test_mode === true || webhookData.body?.test_mode === true;\n\n// n8n wraps it in 'body'\nlet data = webhookData.body || webhookData;\n\nconsole.log('Extracted data:', JSON.stringify(data, null, 2));\nconsole.log('Test mode:', isTestMode);\n\n// Modern Instagram API format (entry -> changes)\nif (data.entry && data.entry[0] && data.entry[0].changes) {\n  const change = data.entry[0].changes[0];\n  \n  console.log('Change object:', JSON.stringify(change, null, 2));\n  \n  if (change.field === 'messages' && change.value) {\n    const messageData = change.value;\n    \n    // Validate required fields\n    if (!messageData.sender || !messageData.message || !messageData.message.text) {\n      console.log('Missing required fields');\n      return [{ json: { error: 'Missing required fields', skip: true } }];\n    }\n    \n    const senderId = messageData.sender.id;\n    const recipientId = messageData.recipient?.id;\n    const timestamp = messageData.timestamp;\n    const messageText = messageData.message.text;\n    const messageId = messageData.message.mid;\n    \n    // Build customer ID\n    const customerId = `instagram:${senderId}`;\n    \n    console.log('Successfully extracted:', { customerId, messageText, isTestMode });\n    \n    return [{\n      json: {\n        customer_id: customerId,\n        sender_id: senderId,\n        recipient_id: recipientId,\n        message_text: messageText,\n        message_id: messageId,\n        timestamp: timestamp,\n        start_time: startTime,\n        channel: 'instagram',\n        is_test_mode: isTestMode,  // ← NEW FLAG\n        skip: false\n      }\n    }];\n  }\n}\n\n// Old Messenger format (entry -> messaging)\nif (data.entry && data.entry[0] && data.entry[0].messaging) {\n  const messaging = data.entry[0].messaging[0];\n  \n  if (!messaging || !messaging.message) {\n    return [{ json: { error: 'Not a message event', skip: true } }];\n  }\n  \n  const senderId = messaging.sender.id;\n  const recipientId = messaging.recipient.id;\n  const timestamp = messaging.timestamp;\n  const messageText = messaging.message.text || '';\n  const messageId = messaging.message.mid;\n  \n  if (!messageText.trim()) {\n    return [{ json: { error: 'No text in message', skip: true } }];\n  }\n  \n  const customerId = `instagram:${senderId}`;\n  \n  return [{\n    json: {\n      customer_id: customerId,\n      sender_id: senderId,\n      recipient_id: recipientId,\n      message_text: messageText,\n      message_id: messageId,\n      timestamp: timestamp,\n      start_time: startTime,\n      channel: 'instagram',\n      skip: false\n    }\n  }];\n}\n\n// Invalid format\nconsole.log('Invalid webhook format - no matching structure found');\nreturn [{ json: { error: 'Invalid webhook payload', skip: true } }];"
      },
      "id": "2e85bf1f-b544-4ea5-a863-9bcc94d0f80b",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "3bbc97e4-7606-471b-b38d-e0043f6363df",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -656,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'skipped', reason: $json.error }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "18c5e422-1662-4255-b891-9ba1fa43cdf0",
      "name": "Skip Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -432,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai-microservices.onrender.com/n8n/prepare-context-enhanced",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"customer_id\": $json.customer_id,\n  \"message\": $json.message_text,\n  \"channel\": $json.channel\n} }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "bfe89c2d-c07b-49fe-a63a-2813c20e1872",
      "name": "Prepare Enhanced Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -432,
        96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uhNdXmB3zf3qByRE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response\nconst aiResponse = $input.first().json;\nconst messageData = $('Extract Message Data').first().json;\nconst contextData = $('Prepare Enhanced Context').first().json;\n\nlet responseData;\ntry {\n  // Extract content from OpenAI response\n  let content = aiResponse.message?.content || \n                aiResponse.choices?.[0]?.message?.content || \n                '';\n  \n  // Clean markdown formatting if present\n  content = content.trim();\n  if (content.startsWith('```json')) {\n    content = content.replace(/```json\\s*/g, '').replace(/```\\s*$/g, '');\n  } else if (content.startsWith('```')) {\n    content = content.replace(/```\\s*/g, '');\n  }\n  content = content.trim();\n  \n  // Parse JSON\n  responseData = JSON.parse(content);\n  \n  // Validate structure\n  if (!responseData.text) {\n    throw new Error('Missing text field in response');\n  }\n  if (!responseData.action) {\n    responseData.action = 'answer';\n  }\n  if (responseData.action === 'create_order' && !responseData.order_data) {\n    responseData.action = 'request_info';\n    responseData.order_data = null;\n  }\n  \n} catch (e) {\n  console.error('Failed to parse AI response:', e.message);\n  \n  let fallbackText = aiResponse.message?.content || \n                     aiResponse.choices?.[0]?.message?.content || \n                     'عذراً، حدث خطأ. من فضلك حاول مرة أخرى.';\n  \n  responseData = {\n    text: fallbackText,\n    action: 'answer',\n    order_data: null\n  };\n}\n\nreturn [{\n  json: {\n    response_text: responseData.text,\n    action: responseData.action,\n    order_data: responseData.order_data || null,\n    intent: contextData.intent_analysis.intent,\n    tokens_used: aiResponse.usage?.total_tokens || 0,\n    sender_id: messageData.sender_id,\n    customer_id: messageData.customer_id,\n    user_message: messageData.message_text,\n    start_time: messageData.start_time,\n    channel: messageData.channel\n  }\n}];"
      },
      "id": "0a0b31c5-cb71-4b25-8e61-4eb35f15b120",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "create_order"
            }
          ]
        }
      },
      "id": "72f0a566-b906-4bd9-8fb1-10e007c7b981",
      "name": "Should Create Order?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        368,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai-microservices.onrender.com/n8n/create-order",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"customer_id\": $json.customer_id,\n  \"channel\": $json.channel,\n  \"product_id\": $json.order_data.product_id,\n  \"product_name\": $json.order_data.product_name,\n  \"size\": $json.order_data.size,\n  \"color\": $json.order_data.color,\n  \"quantity\": $json.order_data.quantity,\n  \"total_price\": $json.order_data.total_price,\n  \"customer_name\": $json.order_data.customer_name,\n  \"phone\": $json.order_data.phone,\n  \"address\": $json.order_data.address\n} }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "ba9eabe7-d2f1-440c-87f3-445f266cb4a6",
      "name": "Create Order (Microservice)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        592,
        24
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uhNdXmB3zf3qByRE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process order result and update response text\nconst orderResult = $input.first().json;\nconst prevData = $('Should Create Order?').first().json;\n\nlet finalText = prevData.response_text;\n\nif (orderResult.success) {\n  // Replace placeholder with actual order ID\n  const shortOrderId = orderResult.order_id.substring(0, 8).toUpperCase();\n  finalText = finalText.replace('{{ORDER_ID}}', shortOrderId);\n  finalText = finalText.replace('{{ERROR_MESSAGE}}', '');\n} else {\n  // Replace with error message\n  finalText = finalText.replace('{{ORDER_ID}}', '');\n  finalText = finalText.replace('{{ERROR_MESSAGE}}', orderResult.message || orderResult.error);\n  \n  // If text still has placeholders, use a fallback message\n  if (finalText.includes('{{')) {\n    const errorMsg = orderResult.message || 'حدث خطأ في إنشاء الطلب';\n    finalText = `عذراً، ${errorMsg}. من فضلك حاول مرة أخرى أو تواصل معنا.`;\n  }\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    response_text: finalText,\n    order_result: orderResult,\n    order_id: orderResult.order_id || null,\n    order_success: orderResult.success\n  }\n}];"
      },
      "id": "78ef7f9c-0a6c-498a-8529-8b3a3f0b8651",
      "name": "Process Order Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        24
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai-microservices.onrender.com/n8n/store-interaction",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"customer_id\": $json.customer_id,\n  \"channel\": $json.channel,\n  \"user_message\": $json.user_message,\n  \"ai_response\": $json.response_text,\n  \"intent\": $json.intent,\n  \"action\": $json.action,\n  \"order_data\": $json.order_data,\n  \"response_time_ms\": Date.now() - $json.start_time,\n  \"ai_tokens_used\": $json.tokens_used || 0\n} }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e196d11b-27fe-4ad8-8586-af772b07e5fc",
      "name": "Store Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uhNdXmB3zf3qByRE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v21.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"recipient\": {\n    \"id\": $json.sender_id\n  },\n  \"message\": {\n    \"text\": $json.response_text\n  }\n} }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "f3bae4f3-e48a-4109-9eb8-b0bac20b7ee9",
      "name": "Send Instagram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1264,
        96
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "l3F8u67RJYGc7Lzy",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', message_sent: true, order_created: $json.order_success || false }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ae7ba20e-745d-422d-9985-06cb377e1247",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1488,
        96
      ]
    },
    {
      "parameters": {},
      "id": "2e728d70-5c45-44d4-8898-a6f522bb8a90",
      "name": "Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log error and prepare fallback response\nconst errorData = $input.first().json;\nconsole.error('Workflow Error:', JSON.stringify(errorData, null, 2));\n\nreturn [{\n  json: {\n    error: true,\n    message: 'عذراً، حدث خطأ في معالجة رسالتك. سنتواصل معك قريباً.',\n    timestamp: new Date().toISOString(),\n    original_error: errorData.message || 'Unknown'\n  }\n}];"
      },
      "id": "28bfa755-c916-4ede-96cf-d3b6349477c8",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        512
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', error: $json.message }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "9c28b45b-ac58-4b72-9b98-1d515fd10aa3",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -656,
        512
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert Egyptian e-commerce assistant for a clothing store. Help customers browse products, answer questions, and complete orders professionally.\\n\\nCRITICAL RULES:\\n1. ALWAYS respond in the SAME language the customer uses (Arabic, Franco-Arabic, or English)\\n2. Be friendly, professional, and concise\\n3. Prices are in Egyptian Pounds (EGP)\\n4. RESPOND ONLY with valid JSON - NO markdown, NO code blocks\\n\\nFOR ORDERS - Collect ALL required information:\\n- Full name\\n- Phone number (Egyptian format: +20...)\\n- Complete delivery address\\n- Product details (size, color, quantity)\\n\\nRESPONSE FORMAT - Always respond with this exact JSON structure:\\n\\n{\\n  \"text\": \"Your message to customer\",\\n  \"action\": \"answer|request_info|create_order\",\\n  \"order_data\": null\\n}\\n\\nACTIONS:\\n- \"answer\": General response, product info, greetings\\n- \"request_info\": Need more details from customer\\n- \"create_order\": Ready to create order (ONLY when ALL info is collected)\\n\\nFOR CREATE_ORDER ACTION - Use this exact order_data format:\\n{\\n  \"text\": \"{{ORDER_SUCCESS_MESSAGE}}\",\\n  \"action\": \"create_order\",\\n  \"order_data\": {\\n    \"product_id\": \"exact-uuid-from-products-list\",\\n    \"product_name\": \"Product Name\",\\n    \"size\": \"M\",\\n    \"color\": \"blue\",\\n    \"quantity\": 1,\\n    \"total_price\": 599.00,\\n    \"customer_name\": \"Customer Full Name\",\\n    \"phone\": \"+201234567890\",\\n    \"address\": \"Complete delivery address with details\"\\n  }\\n}\\n\\nIMPORTANT FOR ORDER TEXT:\\n- Use placeholder {{ORDER_ID}} where the order ID should appear\\n- Use placeholder {{ERROR_MESSAGE}} if order fails\\n- The system will replace these with actual values\\n\\nExample success message:\\n\"text\": \"تم تأكيد طلبك بنجاح! رقم الطلب: {{ORDER_ID}}. سيتم التواصل معك قريباً لتأكيد التوصيل.\"\\n\\nExample for when you need more info:\\n\"text\": \"عشان أكمل الطلب، محتاج منك العنوان الكامل للتوصيل\"\\n\\nCUSTOMER CONTEXT USAGE:\\n- Check customer's previous orders to personalize recommendations\\n- Reference past purchases when relevant\\n- Use customer's preferred language from history\\n- If returning customer, acknowledge their loyalty\\n\\nVALIDATION RULES:\\n- Ensure product_id is from the provided products list\\n- Verify size and color are available for the product\\n- Phone must be Egyptian format (+20...)\\n- Address must be detailed enough for delivery\\n\\nNEVER:\\n- Invent product IDs\\n- Assume information not provided\\n- Skip required fields\\n- Use markdown formatting"
            },
            {
              "content": "={{ $('Prepare Enhanced Context').item.json.conversation_history }}\\n\\n{{ $('Prepare Enhanced Context').item.json.relevant_products }}\\n\\n{{ $('Prepare Enhanced Context').item.json.customer_order_history }}\\n\\n---\\nCUSTOMER CONTEXT:\\nIntent: {{ $('Prepare Enhanced Context').item.json.intent_analysis.intent }}\\nConfidence: {{ $('Prepare Enhanced Context').item.json.intent_analysis.confidence }}\\nExtracted Entities: {{ JSON.stringify($('Prepare Enhanced Context').item.json.intent_analysis.entities) }}\\n\\nCustomer Profile:\\n- Name: {{ $('Prepare Enhanced Context').item.json.customer_metadata.name || 'Not provided' }}\\n- Phone: {{ $('Prepare Enhanced Context').item.json.customer_metadata.phone || 'Not provided' }}\\n- Total Orders: {{ $('Prepare Enhanced Context').item.json.customer_metadata.total_orders }}\\n- Total Spent: {{ $('Prepare Enhanced Context').item.json.customer_metadata.total_spent }} EGP\\n- Preferred Language: {{ $('Prepare Enhanced Context').item.json.customer_metadata.preferred_language }}\\n---\\n\\nCustomer message: {{ $('Extract Message Data').item.json.message_text }}\\n\\nRespond with ONLY valid JSON (no markdown):"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {
          "maxTokens": 800,
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -208,
        96
      ],
      "id": "08e4bb1a-eef2-493a-8aab-c34274a85755",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "jF3F4OdmmThFWb9G",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Instagram Webhook": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Should Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Skip?": {
      "main": [
        [
          {
            "node": "Skip Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Enhanced Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Enhanced Context": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Should Create Order?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Create Order?": {
      "main": [
        [
          {
            "node": "Create Order (Microservice)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Order (Microservice)": {
      "main": [
        [
          {
            "node": "Process Order Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Order Result": {
      "main": [
        [
          {
            "node": "Store Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Interaction": {
      "main": [
        [
          {
            "node": "Send Instagram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instagram Reply": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fe86de40-a624-45c5-a8d2-8d0f19ccb12d",
  "meta": {
    "instanceId": "e296f6ec2b157bf2f49ab0f131e889446eed9159b123c8bf792261fb25833d71"
  },
  "id": "W9EcmSSaFRcQshD8",
  "tags": []
}