n8n_workflows/instagram_dm_streamlined_v3.json
{
  "name": "Instagram DM - Streamlined v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-dm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "instagram-dm"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate message\nconst data = $input.first().json;\nconst startTime = Date.now();\n\nif (!data.entry?.[0]?.messaging?.[0]?.message?.text) {\n  return [{ json: { skip: true, error: 'Invalid payload' } }];\n}\n\nconst msg = data.entry[0].messaging[0];\nreturn [{\n  json: {\n    customer_id: `instagram:${msg.sender.id}`,\n    sender_id: msg.sender.id,\n    message: msg.message.text,\n    channel: 'instagram',\n    start_time: startTime,\n    skip: false\n  }\n}];"
      },
      "id": "extract-001",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.skip }}", "value2": true }]
        }
      },
      "id": "skip-check-001",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'skipped' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "skip-resp-001",
      "name": "Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dm-service-mpjf.onrender.com/n8n/process-complete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { customer_id: $json.customer_id, message: $json.message, channel: $json.channel } }}",
        "options": { "timeout": 20000 }
      },
      "id": "context-001",
      "name": "Get Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [840, 180],
      "credentials": {
        "httpHeaderAuth": { "id": "microservice_api_key", "name": "Microservice API Key" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.skip_ai }}", "value2": true }]
        }
      },
      "id": "cache-check-001",
      "name": "Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1040, 180]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst msg = $('Extract Message').item.json;\nreturn [{ json: { ...msg, response: ctx.cached_response, action: 'cached', order_data: null, tokens: 0 } }];"
      },
      "id": "use-cache-001",
      "name": "Use Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 60]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an Egyptian e-commerce clothing store assistant. Respond in customer's language (Arabic/Franco/English).\n\nRESPOND ONLY WITH VALID JSON:\n{\n  \"text\": \"Your message\",\n  \"action\": \"answer|request_info|create_order\",\n  \"order_data\": null\n}\n\nFor create_order, include order_data with: product_id, product_name, size, color, quantity, total_price, customer_name, phone (+20...), address.\n\nUse {{ORDER_ID}} placeholder in success messages.\n\nCollect ALL info before creating orders: name, phone, address, product details."
            },
            {
              "role": "user",
              "content": "={{ $('Get Context').item.json.conversation_history }}\n\n{{ $('Get Context').item.json.relevant_products }}\n\n{{ $('Get Context').item.json.customer_order_history }}\n\n---\nIntent: {{ $('Get Context').item.json.intent }} ({{ $('Get Context').item.json.confidence }})\nCustomer: {{ $('Get Context').item.json.customer_name || 'Unknown' }} | Phone: {{ $('Get Context').item.json.customer_phone || 'Not provided' }}\nOrders: {{ $('Get Context').item.json.total_orders }} | Spent: {{ $('Get Context').item.json.total_spent }} EGP\n---\n\nMessage: {{ $('Extract Message').item.json.message }}\n\nJSON only:"
            }
          ]
        },
        "options": { "temperature": 0.7, "maxTokens": 800 }
      },
      "id": "ai-001",
      "name": "AI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [1240, 300],
      "credentials": {
        "openAiApi": { "id": "openai_account", "name": "OpenAI Account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const ai = $input.first().json;\nconst msg = $('Extract Message').item.json;\n\nlet content = ai.message?.content || ai.choices?.[0]?.message?.content || '';\ncontent = content.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch {\n  parsed = { text: content, action: 'answer', order_data: null };\n}\n\nreturn [{\n  json: {\n    ...msg,\n    response: parsed.text || content,\n    action: parsed.action || 'answer',\n    order_data: parsed.order_data,\n    tokens: ai.usage?.total_tokens || 0\n  }\n}];"
      },
      "id": "parse-001",
      "name": "Parse AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-001",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1640, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dm-service-mpjf.onrender.com/n8n/process-complete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  customer_id: $json.customer_id,\n  message: $json.message,\n  channel: $json.channel,\n  ai_response: $json.response,\n  action: $json.action,\n  order_data: $json.order_data,\n  tokens_used: $json.tokens,\n  response_time_ms: Date.now() - $json.start_time\n} }}",
        "options": { "timeout": 15000 }
      },
      "id": "process-001",
      "name": "Process & Store",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1840, 180],
      "credentials": {
        "httpHeaderAuth": { "id": "microservice_api_key", "name": "Microservice API Key" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/me/messages?access_token={{ $env.PAGE_ACCESS_TOKEN }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { recipient: { id: $('Extract Message').item.json.sender_id }, message: { text: $json.final_response || $('Merge').item.json.response } } }}",
        "options": { "timeout": 15000 }
      },
      "id": "send-001",
      "name": "Send Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2040, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', order: $('Process & Store').item.json.order_created }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "success-001",
      "name": "Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2240, 180]
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error || 'Unknown error' }}"
      },
      "id": "error-trigger-001",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "error-resp-001",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Extract Message", "type": "main", "index": 0 }]]
    },
    "Extract Message": {
      "main": [[{ "node": "Valid?", "type": "main", "index": 0 }]]
    },
    "Valid?": {
      "main": [
        [{ "node": "Skip", "type": "main", "index": 0 }],
        [{ "node": "Get Context", "type": "main", "index": 0 }]
      ]
    },
    "Get Context": {
      "main": [[{ "node": "Cached?", "type": "main", "index": 0 }]]
    },
    "Cached?": {
      "main": [
        [{ "node": "Use Cache", "type": "main", "index": 0 }],
        [{ "node": "AI", "type": "main", "index": 0 }]
      ]
    },
    "Use Cache": {
      "main": [[{ "node": "Merge", "type": "main", "index": 0 }]]
    },
    "AI": {
      "main": [[{ "node": "Parse AI", "type": "main", "index": 0 }]]
    },
    "Parse AI": {
      "main": [[{ "node": "Merge", "type": "main", "index": 1 }]]
    },
    "Merge": {
      "main": [[{ "node": "Process & Store", "type": "main", "index": 0 }]]
    },
    "Process & Store": {
      "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]]
    },
    "Send Reply": {
      "main": [[{ "node": "Success", "type": "main", "index": 0 }]]
    },
    "Error Trigger": {
      "main": [[{ "node": "Error Response", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "3.0-streamlined",
  "meta": {
    "instanceId": "instagram-dm-streamlined"
  },
  "tags": ["instagram", "e-commerce", "streamlined"]
}
