n8n_workflows/instagram_dm_handler_updated.json
{
  "name": "Instagram DM Automation (Production Ready)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-dm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Instagram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 400],
      "webhookId": "instagram-dm-handler"
    },
    {
      "parameters": {
        "jsCode": "// Extract message data from Meta webhook payload\nconst webhookData = $input.all()[0].json;\nconst startTime = Date.now();\n\n// Validate webhook structure\nif (!webhookData.entry || !webhookData.entry[0]) {\n  return [{ json: { error: 'Invalid webhook payload', skip: true } }];\n}\n\nconst entry = webhookData.entry[0];\nconst messaging = entry.messaging?.[0];\n\n// Check if this is a message event\nif (!messaging || !messaging.message) {\n  return [{ json: { error: 'Not a message event', skip: true } }];\n}\n\nconst senderId = messaging.sender.id;\nconst recipientId = messaging.recipient.id;\nconst timestamp = messaging.timestamp;\nconst messageText = messaging.message.text || '';\nconst messageId = messaging.message.mid;\n\n// Skip if no text\nif (!messageText.trim()) {\n  return [{ json: { error: 'No text in message', skip: true } }];\n}\n\n// Build customer ID\nconst customerId = `instagram:${senderId}`;\n\nreturn [{\n  json: {\n    customer_id: customerId,\n    sender_id: senderId,\n    recipient_id: recipientId,\n    message_text: messageText,\n    message_id: messageId,\n    timestamp: timestamp,\n    start_time: startTime,\n    channel: 'instagram',\n    skip: false\n  }\n}];"
      },
      "id": "extract-message",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-skip",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'skipped', reason: $json.error }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "skip-response",
      "name": "Skip Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dm-service-mpjf.onrender.com/n8n/prepare-context",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"customer_id\": $json.customer_id,\n  \"message\": $json.message_text,\n  \"channel\": $json.channel\n} }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "prepare-context",
      "name": "Prepare Context (Microservice)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 280],
      "credentials": {
        "httpHeaderAuth": {
          "id": "microservice_api_key",
          "name": "Microservice API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip_ai }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-skip-ai",
      "name": "Skip AI Call?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 280]
    },
    {
      "parameters": {
        "jsCode": "// Use cached or pre-defined response\nconst contextData = $input.first().json;\nconst messageData = $('Extract Message Data').item.json;\n\nreturn [{\n  json: {\n    response_text: contextData.cached_response,\n    intent: contextData.intent_analysis.intent,\n    action: 'cached_response',\n    order_data: null,\n    tokens_used: 0,\n    sender_id: messageData.sender_id,\n    customer_id: messageData.customer_id,\n    user_message: messageData.message_text,\n    start_time: messageData.start_time,\n    channel: messageData.channel\n  }\n}];"
      },
      "id": "use-cached",
      "name": "Use Cached Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 160]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "modelId": "gpt-4-turbo-preview",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a helpful Egyptian e-commerce assistant for a clothing store. Help customers browse products, answer questions, and complete orders.\n\nGUIDELINES:\n1. ALWAYS respond in the SAME language the customer uses (Arabic, Franco-Arabic, or English)\n2. Be friendly, professional, and concise\n3. For orders, collect: full name, phone (+20...), complete delivery address\n4. Confirm product details (size, color, quantity) before creating order\n5. Prices are in Egyptian Pounds (EGP)\n6. IMPORTANT: Respond ONLY with valid JSON, NO markdown formatting\n\nYour response MUST be a valid JSON object in this EXACT format:\n{\n  \"text\": \"Your message to customer\",\n  \"action\": \"answer\",\n  \"order_data\": null\n}\n\nActions:\n- \"answer\" = General response\n- \"request_info\" = Need more details\n- \"create_order\" = Ready to create order (when ALL info collected)\n\nFor create_order, order_data format:\n{\n  \"product_id\": \"uuid-from-products\",\n  \"product_name\": \"Product Name\",\n  \"size\": \"M\",\n  \"color\": \"blue\",\n  \"quantity\": 1,\n  \"total_price\": 599.00,\n  \"customer_name\": \"Full Name\",\n  \"phone\": \"+201234567890\",\n  \"address\": \"Complete delivery address\"\n}"
            },
            {
              "role": "user",
              "content": "={{ $('Prepare Context (Microservice)').item.json.conversation_history }}\n\n={{ $('Prepare Context (Microservice)').item.json.relevant_products }}\n\n---\nCUSTOMER CONTEXT:\nIntent: {{ $('Prepare Context (Microservice)').item.json.intent_analysis.intent }}\nConfidence: {{ $('Prepare Context (Microservice)').item.json.intent_analysis.confidence }}\nExtracted Info: {{ JSON.stringify($('Prepare Context (Microservice)').item.json.intent_analysis.entities) }}\nCustomer Metadata: {{ JSON.stringify($('Prepare Context (Microservice)').item.json.customer_metadata) }}\n---\n\nCustomer message: {{ $('Extract Message Data').item.json.message_text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 800
        }
      },
      "id": "openai-chat",
      "name": "OpenAI GPT-4",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [1340, 400],
      "credentials": {
        "openAiApi": {
          "id": "openai_account",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response\nconst aiResponse = $input.first().json;\nconst messageData = $('Extract Message Data').item.json;\nconst contextData = $('Prepare Context (Microservice)').item.json;\n\nlet responseData;\ntry {\n  // Extract content from OpenAI response\n  let content = aiResponse.message?.content || \n                aiResponse.choices?.[0]?.message?.content || \n                '';\n  \n  // Clean markdown formatting if present\n  content = content.trim();\n  if (content.startsWith('```json')) {\n    content = content.replace(/```json\\s*/g, '').replace(/```\\s*$/g, '');\n  } else if (content.startsWith('```')) {\n    content = content.replace(/```\\s*/g, '');\n  }\n  content = content.trim();\n  \n  // Parse JSON\n  responseData = JSON.parse(content);\n  \n  // Validate structure\n  if (!responseData.text) {\n    throw new Error('Missing text field in response');\n  }\n  if (!responseData.action) {\n    responseData.action = 'answer';\n  }\n  if (responseData.action === 'create_order' && !responseData.order_data) {\n    throw new Error('Missing order_data for create_order action');\n  }\n  \n} catch (e) {\n  // Fallback if JSON parsing fails\n  console.error('Failed to parse AI response:', e.message, 'Raw content:', content);\n  \n  // Try to use raw content as text\n  let fallbackText = aiResponse.message?.content || \n                     aiResponse.choices?.[0]?.message?.content || \n                     'عذراً، حدث خطأ. من فضلك حاول مرة أخرى.';\n  \n  responseData = {\n    text: fallbackText,\n    action: 'answer',\n    order_data: null\n  };\n}\n\nreturn [{\n  json: {\n    response_text: responseData.text,\n    action: responseData.action,\n    order_data: responseData.order_data || null,\n    intent: contextData.intent_analysis.intent,\n    tokens_used: aiResponse.usage?.total_tokens || 0,\n    sender_id: messageData.sender_id,\n    customer_id: messageData.customer_id,\n    user_message: messageData.message_text,\n    start_time: messageData.start_time,\n    channel: messageData.channel\n  }\n}];"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-responses",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1780, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dm-service-mpjf.onrender.com/n8n/store-interaction",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"customer_id\": $json.customer_id,\n  \"channel\": $json.channel,\n  \"user_message\": $json.user_message,\n  \"ai_response\": $json.response_text,\n  \"intent\": $json.intent,\n  \"action\": $json.action,\n  \"order_data\": $json.order_data,\n  \"response_time_ms\": Date.now() - $json.start_time,\n  \"ai_tokens_used\": $json.tokens_used || 0\n} }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "store-interaction",
      "name": "Store Interaction (Microservice)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 280],
      "credentials": {
        "httpHeaderAuth": {
          "id": "microservice_api_key",
          "name": "Microservice API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equals",
              "value2": "create_order"
            }
          ]
        }
      },
      "id": "check-create-order",
      "name": "Should Create Order?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2220, 280]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "orders",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "product_id",
              "fieldValue": "={{ $json.order_data.product_id }}"
            },
            {
              "fieldName": "product_name",
              "fieldValue": "={{ $json.order_data.product_name }}"
            },
            {
              "fieldName": "size",
              "fieldValue": "={{ $json.order_data.size }}"
            },
            {
              "fieldName": "color",
              "fieldValue": "={{ $json.order_data.color }}"
            },
            {
              "fieldName": "quantity",
              "fieldValue": "={{ $json.order_data.quantity }}"
            },
            {
              "fieldName": "total_price",
              "fieldValue": "={{ $json.order_data.total_price }}"
            },
            {
              "fieldName": "customer_name",
              "fieldValue": "={{ $json.order_data.customer_name }}"
            },
            {
              "fieldName": "customer_phone",
              "fieldValue": "={{ $json.order_data.phone }}"
            },
            {
              "fieldName": "delivery_address",
              "fieldValue": "={{ $json.order_data.address }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "pending"
            },
            {
              "fieldName": "instagram_user",
              "fieldValue": "={{ $json.customer_id }}"
            }
          ]
        }
      },
      "id": "create-order",
      "name": "Create Order in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2440, 160],
      "credentials": {
        "supabaseApi": {
          "id": "supabase_account",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/me/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "metaApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"recipient\": {\n    \"id\": $json.sender_id\n  },\n  \"message\": {\n    \"text\": $json.response_text\n  }\n} }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "send-instagram-reply",
      "name": "Send Instagram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2660, 280],
      "credentials": {
        "metaApi": {
          "id": "meta_business",
          "name": "Meta Business"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'success', message_sent: true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2880, 280]
    },
    {
      "parameters": {
        "errorMessage": "=Error: {{ $json.error || $json.message || 'Unknown error' }}"
      },
      "id": "error-trigger",
      "name": "Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 600]
    },
    {
      "parameters": {
        "jsCode": "// Log error and send fallback response\nconst errorData = $input.first().json;\nconsole.error('Workflow Error:', JSON.stringify(errorData, null, 2));\n\nreturn [{\n  json: {\n    error: true,\n    message: 'عذراً، حدث خطأ في معالجة رسالتك. سنتواصل معك قريباً.',\n    timestamp: new Date().toISOString(),\n    original_error: errorData.message || 'Unknown'\n  }\n}];"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'error', error: $json.message } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 600]
    }
  ],
  "connections": {
    "Instagram Webhook": {
      "main": [[{"node": "Extract Message Data", "type": "main", "index": 0}]]
    },
    "Extract Message Data": {
      "main": [[{"node": "Should Skip?", "type": "main", "index": 0}]]
    },
    "Should Skip?": {
      "main": [
        [{"node": "Skip Response", "type": "main", "index": 0}],
        [{"node": "Prepare Context (Microservice)", "type": "main", "index": 0}]
      ]
    },
    "Prepare Context (Microservice)": {
      "main": [[{"node": "Skip AI Call?", "type": "main", "index": 0}]]
    },
    "Skip AI Call?": {
      "main": [
        [{"node": "Use Cached Response", "type": "main", "index": 0}],
        [{"node": "OpenAI GPT-4", "type": "main", "index": 0}]
      ]
    },
    "Use Cached Response": {
      "main": [[{"node": "Merge Responses", "type": "main", "index": 0}]]
    },
    "OpenAI GPT-4": {
      "main": [[{"node": "Parse AI Response", "type": "main", "index": 0}]]
    },
    "Parse AI Response": {
      "main": [[{"node": "Merge Responses", "type": "main", "index": 1}]]
    },
    "Merge Responses": {
      "main": [[{"node": "Store Interaction (Microservice)", "type": "main", "index": 0}]]
    },
    "Store Interaction (Microservice)": {
      "main": [[{"node": "Should Create Order?", "type": "main", "index": 0}]]
    },
    "Should Create Order?": {
      "main": [
        [{"node": "Create Order in Supabase", "type": "main", "index": 0}],
        [{"node": "Send Instagram Reply", "type": "main", "index": 0}]
      ]
    },
    "Create Order in Supabase": {
      "main": [[{"node": "Send Instagram Reply", "type": "main", "index": 0}]]
    },
    "Send Instagram Reply": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    },
    "Error Handler": {
      "main": [[{"node": "Log Error", "type": "main", "index": 0}]]
    },
    "Log Error": {
      "main": [[{"node": "Error Response", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2.0",
  "meta": {
    "instanceId": "instagram-dm-microservice-v2"
  },
  "tags": ["instagram", "e-commerce", "automation", "ai"]
}
